{% extends 'tours/base.html' %}

{% block container %}
  <main class="container mt-3">
    <h1 class="display-5 mt-4">Летим {{ container_header.from }}</h1>
    <p class="mb-4">{{ container_header.info }}</p>
    <!-- CARDS -->
    <div class="row mt-5">
      {% if tours %}
      {% for k,v in tours.items %}
      <div class="col-4">
        <div class="card mb-4">
          <img src="{{ v.picture }}" class="card-img-top img-fluid" alt="">
          <div class="card-body">
            <h2 class="h5 card-title">{{ v.title }}</h2>
            <p class="card-text">{{ v.short_description }}</p>
            <a href="/tour/{{ k }}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <h1> По заданному городу пока нет предложений </h1>
      {% endif %}
    </div>
  </main>
  {% endblock %}