{% extends 'base.html' %}

{% block container %}
  <main class="container mt-3">
    <!-- HERO -->
    <section class="jumbotron text-center mt-4" style="background: url('https://images.unsplash.com/photo-1476673160081-cf065607f449?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80'); background-position: center center">
      <h1 class="display-4">{{ main_card.title }}</h1>
      <p class="lead">{{ main_card.subtitle }}</p>
      <p class="mt-5 w-50 mx-auto">{{ main_card.description }}</p>
    </section>
    <!-- CARDS -->
    <div class="row mt-5">
      {% for k, v in tours.items %}
      <div class="col-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
             <img class="card-img-top embed-responsive-item" src="{{ v.picture }}" alt="" />
          </div>          
          <div class="card-body">
            <h2 class="h5 card-title">{{ v.title }}</h2>
            <p class="card-text">{{ v.short_description }}</p>
            <a href="/tour/{{ k }}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}